/* Global Styles */

html
{
    font-family: monospace;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #8b1a1a;
}

a:visited
{
    color: #cd5555;
}

a:hover
{
    color: #ee6363;
}

a:active
{
    color: #ff6a6a;
}

#align-left
{
    display: inline;
    float: left;
}

#align-right
{
    display: inline;
    float: right;
}

#sticky 
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #ffffff;
}

.footer
{
    display: block;
    overflow: hidden;
    text-align: center;
    color: #0d0d0d;
    text-shadow: 0.5px 0.5px #eee9e9;
    font-size: small;
}

.navigation
{
    margin: auto;
    display: block;
    overflow: hidden;
    position: relative;
    max-width: 800px;
}

.navigation a
{
    color: #0d0d0d;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navigation a:hover
{
    background-color: #fffefe;
    color: black;
    border-radius: 0px;
}

.body
{
    padding: 1% 0% 1% 0%;
    margin: auto;
    overflow: auto;
    max-width: 800px;
    min-height: 200px;
}

#contact
{
    padding: 10%;
    max-width: 100px;
}

h1, h2, h3, h4
{
    text-align: center;
    font-family: sans-serif;
}

h1
{
    text-shadow: 1px 1px lightgrey;
    padding: 0px 0px 10px 0px;
}

p 
{
    line-height: 1.5;
    font-family: serif;
    display: block;
    max-width: 500px;
}

#splash-frame
{
    margin: 10% auto 10% auto;
    display: block;
    width: 60%;
}

#splash
{
    max-width: 500px;
    border: 1px solid black;
    border-radius: 3px;
}

#profile
{
    width: 300px;
    height: auto;
}

*
{
    box-sizing: border-box;
}

.column
{
    float: left;
    width: 33.33%;
    padding: 2%;
    text-align: center;
}

/* Main class, all pages store content in cards. */

.card
{
    padding: 14px 16px;
	  border: 1px solid #eee9e9;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #fffefe;
	  max-width: 800px;
}

.row
{
    display: block;
    margin: auto;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column
    {
        width: 100%;
	      padding: 2% 0% 2% 0%;
    }
    .body
    {
	      max-width: 100%;
        margin: 0%;
        overflow: auto;
    }
   .card
    {
        padding: 1% 0% 1% 0%;
        border: 0px solid #CCCCCC;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px #fffefe;
    }
    table
    {
        border: 0px 0px 0px 0px;
    }
    #contact
    {
        text-padding: 1px;
    }
    /* TODO: remove side borders for table when window is small. */
}

table
{
    border-collapse: collapse;
    width: 100%;
}

table td, tr, th
{
    border: 1px solid #fffefe;
    padding: 10px;
}

th, td, tr
{
    text-align: center;
}


#education #year, #experience #year
{
    text-align: left;
}

#profile-frame
{
    padding: 8%;
    text-align: center;
}

.profile figcaption
{
    padding: 5px;
    font-size: small;
}

/* Blog Related Styles */

.blog
{
   
}

#post
{
}
