<div class="body">
  <div id="profile-frame">
    <img id="profile" src="./img/profile.jpg" alt="Me in Colorado.">
    <figcaption>Me in Boulder, Colorado (2019).</figcaption>
  </div>

  <div class="row">

    <div class="column">
    <div class="card" id="contact">
	<a href="https://www.github.com/">Github</a>
    </div>
    </div>

    <div class="column">
    <div class="card" id="contact">
	<a href="mailto:bryanpaget@pm.me">Mail</a>
    </div>
    </div>

    <div class="column">
    <div class="card" id="contact">
	<a href="https://www.linkedin.com/">LinkedIn</a>
    </div>
    <div>

  </div>
</div>
