<div class="body">
  <div id="splash-frame">
    <img id="splash" src="./img/splash.jpg" alt="An Image.">
  </div>
  <p>
    I am interested in data science because of the combined power of
    statistics and algorithms enables an unprecedendent amount of
    knowledge to be gleaned from the public.  At Statistics Canada,
    I'd like to contribute to the good and fair usage and advocate
    against the abuse of this data.
  </p>
  <p>
    Steps anyone can take to protect their data are:
    <ol>
      <li> Use a phone that does not let others track you.
      <li> Use a desktop operating system that does not spy on you.
      <li> Use web services that guarantee your privacy.
    </ol>
  </p>
</div>
