<div class="body"> 

    <div class="card">

      <h2>Education</h2>

      <div style="overflow-x:auto;">

	<table id="education">

	  <thead>
	    <tr role="row">
	      <th id="year">Year</th>
	      <th>Degree</th>
	      <th>Institution</th>
	    </tr>
	  </thead>
	  
	  <tbody>
	    <tr role="row">
	      <td id="year">2019</td>
	      <td>MSc. Statistics</td>
	      <td><a href="https://science.uottawa.ca/mathstat/en">University of Ottawa</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2017</td>
	      <td>BSc. Statistics, Minor in Psychology</td>
	      <td><a href="https://science.uottawa.ca/mathstat/en">University of Ottawa</a></td>
	    </tr>
	  </tbody>

	</table>

      </div>
    </div>
    
    <br> 
    
    <div class="card">
      
      <h2>Experience</h2>
      
      <div style="overflow-x:auto;">

	<table id="experience">
	  <thead>
	    <tr>
	      <th id="year">Year</th>
	      <th>Position</th>
	      <th>Employer</th>
	    </tr>
	  </thead>

	  <tbody>
	    <tr>
	      <td id="year">2019</td>
	      <td>Data Scientist</td>
	      <td><a href="https://www.statcan.gc.ca/eng/start">Statistics Canada</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2018 - 2019</td>
	      <td>Statistician</td>
	      <td><a href="https://friends.ca/">Friends for Canadian Broadcasting</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2018</td>
	      <td>C++ Programmer</td>
	      <td><a href="https://mysite.science.uottawa.ca/kburkett/">Dr. Kelly Burkett</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2018</td>
	      <td>AI Intern</td>
	      <td><a href="https://www.advancedsymbolics.com/">Advanced Symbolics</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2017</td>
	      <td>Teaching Assistant</td>
	      <td><a href="https://science.uottawa.ca/mathstat/en">University of Ottawa</a></td>
	    </tr>
	    
	    <tr>
	      <td id="year">2015 - 2017</td>
	      <td>NLP Research Assistant</td>
	      <td><a href="http://www.site.uottawa.ca/~diana/">Dr. Diana Inkpen</a></td>
	    </tr>
	  </tbody>
	</table>
      </div>
      
    </div>

    <br> 

    <div class="card">
      
      <h2> Programming Languages </h2>
      
      <div class="row">
	
	<div class="column">
	  <table id="languages">
	    <tr>
	      <th>
		Beginner
	      </th>
	    </tr>
	    <tr><td>Julia</td></tr>
	    <tr><td>Lisp</td></tr>
	    <tr><td>Haskell</td></tr>
	    <tr><td>C</td></tr>
	  </table>
	</div>

	<div class="column">
	  <table id="languages">
	    <tr>
	      <th>
		Intermediate
	      </th>
	    </tr>
	    <tr><td>C++</td></tr>
	    <tr><td>HTML</td></tr>
	    <tr><td>CSS</td></tr>
	  </table>
	</div>

	<div class="column">
	  <table id="languages">
	    <tr>
	      <th>
		Advanced
	      </th>
	    </tr>
	    <tr><td>Python</td></tr>
	    <tr><td>R</td></tr>
	    <tr><td>LaTeX</td></tr>
	  </table>
	  
	</div>
      </div>
      </div>
      </div>
